.nav {
  width: 15% !important;
  background-color: transparent !important;
}
.home {
  background-image: linear-gradient(
    165deg,
    #3c4266 20%,
    #0a1020 75%
  ) !important;

  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;

  /* width: 100%; */
}

.cards {
  background-color: transparent !important;
  color: white;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.play {
  width: 130px;
  align-self: center;
  margin-top: 30px;
  background-color: #0de431;
  border-color: #0de431;
  color: white;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: 20px;
  margin-bottom: 10px;
}

.play:hover {
  background-color: #05d828;
  border-color: #04ce26;
}
.songs {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;

  /* width: 100%; */
}

.play:focus {
  background-color: #05d828;
  border-color: #04ce26;
  outline: none;
}

.p:hover {
  background-color: rgb(122, 122, 121) !important;
  border-radius: 5px;
}
.p:focus {
  background-color: rgb(122, 122, 121) !important;
  border-radius: 5px;
  outline: none;
}
